[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "unify-tensors"
version = "0.1.2"
authors = [
    { name = "Giacomo Guiduzzi", email = "guiduzzi.giacomo@gmail.com" },
]
description = "A utility to unify the device of multiple PyTorch tensors."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Artificial Intelligence",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

dependencies = [
    "torch"
]

[project.urls]
Homepage = "https://github.com/giacomoguiduzzi/unify-tensors"
Repository = "https://github.com/giacomoguiduzzi/unify-tensors"
Issues = "https://github.com/giacomoguiduzzi/unify-tensors/issues"
