.main-navbar .nav-link {
    margin-right: 4px;
    margin-left: 6px;
    font-size: 16px;
    padding-right: .6rem !important;
    padding-left: .6rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.main-navbar .nav-item {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.theme-drawer-close {
    font-size: 16px;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

@media (max-width: 959px) {
    .main-navbar .nav-link {
        font-size: 20px;
    }

    .theme-drawer-close {
        font-size: 20px;
    }
}

.theme-drawer {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

.theme-drawer .list-group .list-group-item {
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none !important;
    padding: 0.7rem 0.75rem !important;
    margin: 0px !important;
    cursor: pointer;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

.theme-drawer .list-group .list-group-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme-drawer .list-group i {
    font-size: 20px;
    margin-right: 10px;
}

.item-toggle::after {
    width: 1.25em;
    line-height: 0;
    margin-left: auto;
    padding-left: 2px;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .15s ease;
    transform-origin: .5em 50%;
}

.item-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.item-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.theme-drawer .menu-collapse {
    margin-left: 1px;
    padding-left: 8px;
    background: rgba(0, 0, 0, .1);
}

.theme-drawer .list-group .btn {
    border: none !important;
    box-shadow: none !important;
}

.x-icon-lg {
    font-size: 120%;
    vertical-align: middle;
}

.x-icon-100 {
    font-size: 100%;
    vertical-align: middle;
}

.x-icon-150 {
    font-size: 150%;
    vertical-align: middle;
}

.x-icon-200 {
    font-size: 200%;
    vertical-align: middle;
}

.x-icon-250 {
    font-size: 250%;
    vertical-align: middle;
}

.x-icon-300 {
    font-size: 300%;
    vertical-align: middle;
}

.x-icon-350 {
    font-size: 350%;
    vertical-align: middle;
}

.x-icon-400 {
    font-size: 400%;
    vertical-align: middle;
}

.x-icon-16px {
    font-size: 16px;
    vertical-align: middle;
}

.x-icon-18px {
    font-size: 18px;
    vertical-align: middle;
}

.x-icon-20px {
    font-size: 20px;
    vertical-align: middle;
}

.x-icon-22px {
    font-size: 22px;
    vertical-align: middle;
}

.x-icon-24px {
    font-size: 24px;
    vertical-align: middle;
}

.x-icon-26px {
    font-size: 26px;
    vertical-align: middle;
}

.x-icon-28px {
    font-size: 28px;
    vertical-align: middle;
}

.x-icon-30px {
    font-size: 30px;
    vertical-align: middle;
}

.x-icon-32px {
    font-size: 32px;
    vertical-align: middle;
}

.x-icon-34px {
    font-size: 34px;
    vertical-align: middle;
}

.x-icon-36px {
    font-size: 36px;
    vertical-align: middle;
}

.x-icon-38px {
    font-size: 38px;
    vertical-align: middle;
}

.x-icon-40px {
    font-size: 40px;
    vertical-align: middle;
}

.x-icon-42px {
    font-size: 42px;
    vertical-align: middle;
}

.x-icon-44px {
    font-size: 44px;
    vertical-align: middle;
}

.x-icon-46px {
    font-size: 46px;
    vertical-align: middle;
}

.x-icon-48px {
    font-size: 48px;
    vertical-align: middle;
}
