@import 'agogo.css';

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}


span.sig-name.descname {
    margin-right: .25em;
}

span.sig-return-icon {
    margin: 0px .5em;
}

dt.sig.sig-object.py {
    width: 100%;
    margin-bottom: 20px !important;
}

dl.field-list {
    margin-top: 20px;

}

dl.field-list.simple dt {
    padding-left: 0px !important;
}