name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  UV_FROZEN: 1

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: latest
          enable-cache: true

      - name: Install deps
        run: uv sync

      - name: Toolchain caching
        uses: actions/cache@v4
        with:
          path: |
            .mypy_cache
          key: ${{ runner.os }}-toolchain-cache-${{ hashFiles('**/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-toolchain-cache-

      - uses: pre-commit/action@v3.0.1
        env:
          SKIP: pytest

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  test:
    name: Test (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: latest
          enable-cache: true

      - name: Set Python version
        run: uv python pin "${{ matrix.python-version }}"

      - name: Install deps
        run: uv sync

      - name: Run tests
        run: uv run nox

      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: false
          report_type: test_results
          files: junit.xml
          flags: >-
            python-${{ matrix.python-version }}

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: false
          files: coverage.xml
          flags: >-
            python-${{ matrix.python-version }}
