
[project]
name = "uai_annotation_requests"
version = "0.6.1"
description = "Understand.ai Python Client SDK for requesting annotations."
authors = [{ name = "UAI" },]
readme = "README.md"
requires-python = ">=3.9.2"
dependencies = [
    "httpcore >=1.0.9",
    "httpx >=0.28.1",
    "pydantic >=2.11.2",
]

[tool.poetry]
packages = [
    { include = "uai_annotation_requests", from = "src" },
    { include = "uai_annotation_requests_util", from = "src" }
]
include = ["py.typed", "src/uai_annotation_requests/py.typed", "docs/"]

[tool.setuptools.package-data]
"*" = ["py.typed", "src/uai_annotation_requests/py.typed"]

[virtualenvs]
in-project = true

[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
mypy = "==1.15.0"
pylint = "==3.2.3"
pytest = "^8.3.4"
pytest-cov = "^6.0.0"
ruff = "^0.9.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"
pythonpath = ["src"]

[tool.mypy]
disable_error_code = "misc"
explicit_package_bases = true
mypy_path = "src"

[[tool.mypy.overrides]]
module = "typing_inspect"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "jsonpath"
ignore_missing_imports = true

[tool.pyright]
venvPath = "."
venv = ".venv"


