[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cforma"
version = "0.1.2"
authors = [
  { name="Grace Peter Mutiibwa", email="temporarybag.grace@gmail.com" },
]
description = "A utility to format Pydantic models into clean JSON Schemas for LLMs."
readme = "README.md"
requires-python = ">=3.8"
license = { file="LICENSE" }
dependencies = [
  "pydantic",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Utilities",
]

[project.urls]
"Homepage" = "https://github.com/GracePeterMutiibwa/cforma"