[build-system]
requires = [
    "hatchling",
]
build-backend = "hatchling.build"

[project]
name = "cmsgov"
version = "0.0.0a1"
description = ""
readme = "README.md"
license = "MIT"
requires-python = "~=3.9"
authors = [
    { email = "david@belais.me" },
]
dependencies = [
    "oapi~=2.4",
]

[project.urls]
Documentation = "https://cmsgov.enorganic.org"
Repository = "https://github.com/enorganic/cmsgov"

[tool.hatch.build.targets.sdist]
packages = [
    "src/cmsgov",
]
sources = [
    "src",
]

[tool.hatch.build.targets.wheel]
packages = [
    "src/cmsgov",
]

[tool.hatch.envs.default]
python = "3.9"
dependencies = [
    "pytest",
    "mypy",
    "dependence~=1.1",
    "gittable~=0.0",
    "pyyaml>2",
    "types-PyYAML",
    "dotenv",
]
post-install-commands = [
    "hatch run mypy --install-types --non-interactive || echo",
]

[tool.hatch.envs.hatch-static-analysis]
extra-dependencies = [
    "dependence~=1.1",
]

[tool.hatch.envs.docs]
template = "docs"
python = "3.13"
dependencies = [
    "mkdocs-material",
    "mkdocstrings[python]",
    "black",
    "dependence~=1.1",
]

[tool.hatch.envs.hatch-test]
extra-dependencies = [
    "dependence~=1.1",
    "pyyaml>2",
    "dotenv",
]
extra-args = [
    "-s",
    "-vv",
]

[[tool.hatch.envs.hatch-test.matrix]]
python = [
    "3.9",
    "3.10",
    "3.11",
    "3.12",
    "3.13",
]

[tool.ruff]
line-length = 79
extend-exclude = [
    "src/cmsgov/provider_data/v1/client.py",
    "src/cmsgov/provider_data/v1/model.py",
]

[tool.ruff.lint]
ignore = [
    "F842",
    "INP001",
]
extend-select = [
    "E",
    "F",
    "UP",
    "B",
    "SIM",
    "I",
    "C",
    "N",
]

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 79

[tool.black]
line-length = 79
target-version = [
    "py39",
    "py310",
    "py311",
    "py312",
    "py313",
]

[tool.mypy]
python_version = "3.9"
files = [
    "src",
    "tests",
    "scripts",
]
mypy_path = "src"
disallow_untyped_defs = true
disallow_incomplete_defs = true
namespace_packages = true
explicit_package_bases = true

[tool.coverage.report]
fail_under = 80

[tool.coverage.run]
source = [
    "src",
]
