/* cover page */
div#cover {
  text-align: center;
  width: 100%;
}

/* navigation page - toc */
ol {
  list-style-type: none;
  padding-left: 0;
}

ol li {
  padding-top: 0.2em;
}

ol li ol li:last-of-type {
  padding-bottom: 1em;
}

ol li a {
  text-decoration: none;
}

/* chapters & section */
div.volume {
  display: table;
  width: 100%;
  height: 100%;
}

h1.volume {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

h2 {
}
p {
}
