
#bootscreen {
  position: fixed;
  background: gainsboro;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  transition: 0.8s ease-in-out;
  z-index: 1000;
}
#bootscreen.fade {
  opacity: 0;
}
body {
  font-family: monospace, sans-serif;
}
.qpface {
  position: absolute;
  letter-spacing: 4px;
}
.qpface .qpftop {
position: relative;
height: 60px;
overflow: hidden;
margin-bottom: -20px;
}
.qpface .qpftop::before {
  content: "";
  border: 10px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -100px;
  /*! bottom: 0; */
  overflow: hidden;
  height: 100px;
  box-sizing: border-box;
  height: 150px;
}

.qpface .qpfbottom {
position: relative;
height: 60px;
overflow: hidden;
margin-top: 10px;
}
.qpface .qpfbottom::before {
  content: "";
  border: 10px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  right: 20px;
  top: -100px;
  overflow: hidden;
  height: 100px;
  box-sizing: border-box;
  height: 150px;
}
.qpfmouth {
  position: relative;
  color: transparent;
  top: -19px;
  margin-right: 2px;
}
.qpfmouth::after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  right: 0;
  top: 100%;
  height: 0;
  background: #000;
  transition: height 0.4s;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
.qpfmouth::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background: #000;
}


.qpface *{
  transition: 0.4s;
}
.qpface.open .qpfeye {
  font-size: 1.2em;
}
.qpface.open .qpfleftear {
  margin-left: -10px;
  margin-right: 10px;
}
.qpface.open .qpfrightear {
  margin-right: -10px;
  margin-left: 10px;
}
.qpface.open .qpfmouth::after {
  height: 10px;
}
.qpface.open .qpfbottom{
  margin-top:15px;
}


header {



    .qpface{

        cursor: pointer;

        transition: 0.4s;

        .qpftop {
          height: 30px;
          margin-bottom: -10px;
          display: none;
        }
        .qpftop::before {
          height: 60px;
          bottom: -32px;
          border-width: 4px;
          left: 9px;
          right: 8px;
        }
        .qpfmouth {
          top:-6px;
          margin-right: 2px;
        }
        .qpfmouth::before {
          background: #4caf50;
          height: 3px;
        }
        .qpfmouth::after {
          background: #4caf50;
        }

        &:hover{

            margin-top: -5px;

            margin-left: -3px;
                    .qpfeye {
            font-size: 1.2em;
            }

            .qpfleftear {
            margin-left: -3px;
            margin-right: 3px;
            }

            .qpfrightear {
            margin-right: -3px;
            margin-left: 3px;
            }

            .qpfmouth::after {
            height: 5px;
            }

            .qpfbottom{
            margin-top:15px;
            }

}

    }

}
