[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ecocash"
version = "0.0.2"
description = "Unofficial Python Wrapper Library for the EcoCash API by Tarmica Sean Chiwara, A computer engineering student."
authors = [{name="Tarmica Sean Chiwara", email="tarimicac@gmail.com"}]
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
[project.urls]
Homepage = "https://github.com/lordskyzw/ecocash"