[tool.poetry]
name = "gc-jira-api"
version = "1.3.9"
description = "Wrapper for the API Jira Cloud"
authors = ["Making Science"]
readme = "README.md"
packages = [{include = "gc_jira_api"}]
include = ["pre-commit-config.yaml"]

[tool.poetry.dependencies]
python = "^3.8.1"
requests = "^2.32.3"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.1.1"
flake8 = "^6.0.0"
isort = "^5.12.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
extend-exclude="# noqa"

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 79
