.icon-robot { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-robot-70x70.png')}});
	background-repeat: no-repeat;
	}

.icon-growth { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-growth-70x70.png')}});
	background-repeat: no-repeat;
	}
	
.icon-analytics { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-analytics-70x70.png')}});
	background-repeat: no-repeat;
	}
	
.icon-rating { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-rating-70x70.png')}});
	background-repeat: no-repeat;
	}
	
.icon-fraud { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-fraud-70x70.png')}});
	background-repeat: no-repeat;
	}
	
.icon-decision { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-decision-70x70.png')}});
	background-repeat: no-repeat;
	}

.icon-api { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-api-70x70.png')}});
	background-repeat: no-repeat;
	}					

.icon-rewards { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-rewards-70x70.png')}});
	background-repeat: no-repeat;
	}	

.icon-brand { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-brand-70x70.png')}});
	background-repeat: no-repeat;
	}	
	
.icon-engage { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-engage-70x70.png')}});
	background-repeat: no-repeat;
	}
	
.icon-online { 
	background-image: url({{ url_for('static', filename='landing/assets/img/flaticon/icon-online-70x70.png')}});
	background-repeat: no-repeat;
	}	
	

#prod-nav {
  clear: both;
  display: flex;
  flex-direction: column; 
  height: 0;
  overflow: hidden;
  padding-top: 2.5em;
}

#prod-nav.is-active {
  height: auto;
  overflow: visible;
}

#prod-nav .col { 
  padding-bottom: 2.5em;
} 

@media screen and (min-width: 550px) {
  #prod-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #prod-nav .col {
    flex: 0 0 50%;
  } 
}

@media screen and (min-width: 768px) {
  #prod-nav .col {
    flex: 0 0 33.333333333%;
  } 
}

@media screen and (min-width: 960px) {
  #prod-nav {
    flex-wrap: nowrap;
  }
  
  #prod-nav .col {
    flex: 0 0 20%;
  } 
  
  #prod-nav .col:last-child {
    display: flex;
    justify-content: flex-end;
  }  
}

#prod-nav h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#prod-nav ul {
  list-style-type: none;
  margin-top: 1em;
}

#prod-nav li {
  margin-bottom: 0.3125em;
}

#prod-nav li a {
  color: #b4b9ba;
  text-decoration: none;
  transition: color 0.3s ease;
}

#prod-nav li a:hover,
#prod-nav li a:focus {
  color: #686d6e;
}

	