.form-group.ext{
	background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid;
	border-color: rgba(0, 0, 0, 0.175);
    height: 3.13rem;
    max-width: 100%;
    margin-bottom: 10px;
    position: relative;
	height: max-content;
	border-radius: 8px;

}

.form-group.ext.max-content{
	height: max-content;
}

.form-group.ext>label{
	background-color: transparent;
	padding-left: 0px;
	position: absolute;
	top: 0px;
    left: 5px;
    display: flex;
}

.form-group.ext>input{
	border-style: hidden;
	background: transparent;
	height: inherit;
	appearance: none;
	padding-top: 25px;
	padding-left: 10px;
}

.form-group.ext>select{
	border-style: hidden;
	background: transparent;
	height: inherit;
	appearance: none;
	padding-top: 25px;
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.form-group.ext>textarea{
	
    background: transparent;
    border-style: hidden;
	appearance: none;
	padding-top: 20px;
	padding-left: 10px;
}

.form-group.ext .help-block{
	padding-left: 10px;
}

.form-group.ext .error{
	color: #FF0000;
	
}