method = del
#method指定执行的方法，del是删除数据
dir = /mnt/sjshqdata/sjshq
#dir指定要处理的目录
leftspace=35111222
#leftspace指定剩余空间不小于多少k，注意1k等于1024字节，不设置则不控制最大剩余空间
leftnum=30
#leftnum控制剩下文件或者子目录数量，大于此值则删除最小的，不设置则不控制数量
sort=name
#排序方法，name是按名字排序，time是按修改日期排序,默认是按日期
#删除数据的时候，会检查leftnum和leftspace，有一个不满足，就按排序删除名字最小或者日期最老的，直到这两个条件都满足
