:root {
    --background:#b6292e;
    --font: #F1BF00;
    /* --titles: #FF4040;*/
    --titles: #c22a2f; /* #f83138;*/
    --menu: #F1BF00;
    /* --font: #cf2b30;
    --background: #F1BF00; */
}

/* .wy-side-nav-search,
.wy-nav-top {
    background-color: var(--background);
}

.wy-side-nav-search > a {
    color: var(--font) !important; 
    font-weight: bold;
    font-size: 110%;           
    text-decoration: none;     
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: var(--titles);
}

.wy-menu-vertical a {
    color: var(--menu);
} */

/* Title of expanded section in sidebar*/
/* .wy-menu-vertical .current > a {
    color: var(--titles) !important; 
} */

/* Items inside the expanded section */
/* .wy-menu-vertical .current li a {
    color: var(--titles) !important;
}  */

.wy-side-nav-search .wy-dropdown>a.icon img.logo,
.wy-side-nav-search>a.icon img.logo {
    max-width: 50%;
}

span.eqno {
    float: right;
}

.rst-content div[class^=highlight] pre {
    white-space: pre-wrap;
}
